.container {
  width: 100vw;
  position: absolute;
  top: 0;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 7rem;
  height: 1.875rem;
  margin: 4rem 5rem;
  .logo {
    display: none;
  }

  @media (min-width: 768px) {
    .logo {
      display: flex;
    }
  }
}
